body{
    background-color: skyblue;
}

.web1{
    background-color: khaki;
}

.set1{
    background-color: royalblue;
}

.set2{
    background-color:royalblue;
}
/* main will not display background colour yellow because the main is not in the code format */

main{
    background-color: yellow;
}

footer{
    background-color: lawngreen;
}

.pic>p{
    background-color:yellow;
}

.pic>div>p{
    background-color: orange;
}

.image>p{
    background-color: orange;
}

/*body>footer>p{
    background-color: yellow;
}*/

/*footer p{
    background-color: magenta;
}*/

/*footer>p{
    background-color: red;
}*/