body{
    background-color: skyblue;
}

header{
    background-color: salmon;
}

header>h3{
    background-color: springgreen;
}

header>h4{
    background-color: chartreuse;
}
/* main will not display background colour yellow because the main is not in the code format */

main{
    background-color: yellow;
}

footer{
    background-color: lawngreen;
}

/*footer p{
    background-color: magenta;
}*/

footer>p{
    background-color: red;
}