body{
    background-color: skyblue;
}

.web1{
    background-color: khaki;
}

.set1{
    background-color: royalblue;
}

.set2{
    background-color:royalblue;
}

.p1{
    font-size: 18px;
    color: solid black;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
}

.photo1{
    border: 3px solid black;
}


.background1{
    background-image: url("../img/winding-road-1556177_640.jpg");
    background-size: cover
    width = fit;
}
#road{
    border: 2px solid red;
    border-radius: 10px;
    width: 35%;
}

footer{
    background-color: lawngreen;
}

.pic>p{
    background-color:yellow;
}

.pic>div>p{
    background-color: orange;
}

.image>p{
    background-color: orange;
}

/*body>footer>p{
    background-color: yellow;
}*/

/*footer p{
    background-color: magenta;
}*/

/*footer>p{
    background-color: red;
}*/